.container {
  width: 440px;
  height: 440px;
}

.widget {
  padding: 20px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.btn {
  height: 50px; 
  border-radius: 0px;
}

.img-thumbnail {
  height: 200px; 
  width: 150px;
}

.clock {
  height: 50px; 
  line-height: 50px; 
  text-align: center; 
}

.bid {
  line-height: 50px; 
  text-align: center; 
}